{% extends 'padrao/painel.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}
Gen's | Novo Plano
{% endblock %}
{% block estilo %}
{{block.super}}
<style>
    .form-control:focus {
    color: #000;
    background-color: #ffffff;
    border-color: #4cb061;
    outline: 0
}
</style>
{% endblock %}
{% block trilha %}
<h4 class="h4 mb-0 text-success font-weight-bold text-uppercase">{{exame}}</h4>
{% endblock %}
{% block conteudo %}
<div class="row">
    <div class="col col-mb-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-success text-uppercase">
                    NOVO PLANO
                </h6>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
