{% extends 'padrao/painel.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}
Gen's | Exames
{% endblock %}
{% block estilo %}
{{ block.super }}
<style>
    .form-control:focus {
        color: #000;
        background-color: #ffffff;
        border-color: #4cb061;
        outline: 0;
    }
    .info-paciente {
        margin-top: 10px;
    }
    .btn-remove {
        margin-left: 10px;
    }
</style>
{% endblock %}
{% block trilha %}
{% endblock %}
{% block conteudo %}
<div class="row">
    <div class="col col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="h4 mb-0 font-weight-bold text-uppercase text-success">{{ paciente.nome }}</h5>
                <hr>
                <div class="row">
                    <div id="formato-cpf" class="h6 mb-0 col-6 col-md-6 info-paciente"></div>
                    <div class="h6 mb-0 col-6 col-md-6 info-paciente">
                        USUARIO: {% if paciente.usuario %}{{ paciente.usuario }}{% else %}Não cadastrado{% endif %}
                    </div>
                    <div class="col-6 info-paciente">RG: {% if paciente.rg %}{{ paciente.rg}}{% else %}Não cadastrado{% endif %}</div>
                    <div class="col-6 info-paciente">TELEFONE: {{ paciente.telefone }}</div>
                    <div class="col-6 info-paciente">DATA NASC: {{ paciente.data_nascimento }}</div>
                    <div class="col-6 info-paciente">SEXO: {{ paciente.sexo }}</div>
                </div>
            </div>
            <hr>
            <div class="card-body">
                <form method="POST" action="{% url 'atendimento:exames_selecionados' paciente.pk ordem %}">  <!-- Atualize 'sua_view_de_post' com a URL correta -->
                    {% csrf_token %}
                    <div class="form-group text-success">
                        <label for="busca-exames" class="h5 font-weight-bold">Pesquisar Exames</label>
                        <input type="text" id="busca-exames" class="form-control mb-2" placeholder="Digite o nome do exame..." oninput="buscarExames()">
                        <br>
                        <div id="resultados-busca"></div>
                    </div>
                    <div class="h5 text-success font-weight-bold">Exames Selecionados</div>
                    <ul id="lista-exames-selecionados"></ul>
                    <input type="hidden" id="exames-selecionados" name="exames">  <!-- Campo oculto para os IDs dos exames -->
                    <hr>
                    <div class="form-group">
                        <button type="button" id="proximo-passo" class="btn btn-success btn-block mt-3" onclick="proximoPasso()">Avançar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

function formatarCPF(cpf) {
    cpf = cpf.replace(/[.-]/g, '');
    return cpf.slice(0, 3) + '.' + cpf.slice(3, 6) + '.' + cpf.slice(6, 9) + '-' + cpf.slice(9);
}
var cpf = "{{paciente.cpf}}";
var cpfFormatado = (cpf == 'None') ? "Não cadastrado" : formatarCPF(cpf);

document.getElementById("formato-cpf").innerText = "CPF: " + cpfFormatado;

function buscarExames() {
    var term = document.getElementById('busca-exames').value;

    if (term.length > 2) {
        fetch(`/atendimento/add_orcamento-exames/?q=${term}`)
            .then(response => response.json())
            .then(data => {
                var resultadosDiv = document.getElementById('resultados-busca');
                resultadosDiv.innerHTML = '';

                data.forEach(function(exame) {
                    var exameItem = document.createElement('div');
                    exameItem.innerHTML = `
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="exame_${exame.id}" value="${exame.id}" onchange="adicionarExame('${exame.id}', '${exame.nome}')">
                            <label class="form-check-label" for="exame_${exame.id}">${exame.nome}</label>
                        </div>
                    `;
                    resultadosDiv.appendChild(exameItem);
                });
            })
            .catch(error => console.error('Erro ao buscar exames:', error));
    }
}

function adicionarExame(id, nome) {
    var lista = document.getElementById('lista-exames-selecionados');
    var exameExistente = document.getElementById('exame-item-' + id);
    var inputExames = document.getElementById('exames-selecionados');

    if (exameExistente) {
        // Remove o exame da lista e do input oculto
        lista.removeChild(exameExistente);
        var examesSelecionados = inputExames.value.split(',').filter(e => e != id).join(',');
        inputExames.value = examesSelecionados;
    } else {
        // Adiciona o exame à lista e ao input oculto
        var li = document.createElement('li');
        li.id = 'exame-item-' + id;
        li.textContent = nome;

        // Adicionando o botão de remover
        var btnRemove = document.createElement('a');
        btnRemove.className = 'mb-1 btn-link text-danger';
        btnRemove.innerHTML = '<i class="bi bi-x-circle-fill"></i>'; // Ícone de lixeira
        btnRemove.style.marginLeft = '10px'; // Espaçamento entre o nome e o ícone
        btnRemove.onclick = function() {
            lista.removeChild(li);
            document.getElementById('exame_' + id).checked = false; // Desmarcar o checkbox correspondente
            var examesSelecionados = inputExames.value.split(',').filter(e => e != id).join(',');
            inputExames.value = examesSelecionados; // Atualiza o input oculto
        };

        li.appendChild(btnRemove);
        lista.appendChild(li);

        // Atualiza o input oculto
        inputExames.value = inputExames.value ? inputExames.value + ',' + id : id;
    }
}

function proximoPasso() {
    var examesSelecionados = document.getElementById('exames-selecionados').value;
    if (examesSelecionados) {
        window.location.href = `/atendimento/{{ordem}}/exames-selecionados/{{paciente.pk}}/?exames=${examesSelecionados}`;  // Atualize 'sua_url' com a URL desejada
    } else {
        alert("Nenhum exame selecionado.");
    }
}

</script>
{% endblock %}
