{% extends 'padrao/painel.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}
Gen's | Relatorio por Periodo
{% endblock %}
{% block estilo %}
{{block.super}}
<style>
    .form-control:focus {
    color: #000;
    background-color: #ffffff;
    border-color: #4cb061;
    outline: 0
}
</style>
{% endblock %}
{% block trilha %}
<h4 class="h4 mb-0 text-success font-weight-bold">RELATÓRIO POR PERÍODO</h4>
{% endblock %}
{% block conteudo %}
<div class="row">
    <div class="col col-mb-12">
        <div class="card mb-4">
          <div class="card-header mb-2">
              <form action="{% url 'atendimento:relatorio_periodo' %}" method="get">
                <div class="row">
                    <div class="col-md-5 mt-2">
                        <label for="inicio">Data Inicial</label>
                        <input id="inicio" class="form-control" name="inicio" type="date">
                    </div>
                    <div class="col-md-5 mt-2">
                        <label for="final">Data Final</label>
                        <input id="final" class="form-control" name="final" type="date">
                    </div>
                    <div class="col-md-2 mt-1">
                        <label for="botao"></label>
                        <button id="botao" type="submit" class="btn btn-success btn-block text-white mt-3"><i class="fas fa-search"></i> Pesquisar</button>
                    </div>
                </div>
            </form>
          </div>
            <div class="card-body">
                <hr>
                <div class="row ml-1 mt-3 align-items-center justify-content-center d-flex">
                    <h5 class="h5 mb-0">
                        {% if inicio and final %}
                            {% if inicio < final or inicio == final %}
                                <span class="font-weight-bold">{{inicio|date:"d/m/Y"}} a {{final|date:"d/m/Y"}}</span>
                            {% else %}
                                <span class="text-danger">A data inicial não pode ser posterior a data final.</span>
                            {% endif %}
                        {% endif %}
                    </h5>
                </div>
                {% if inicio and final %}
                   {% if inicio < final or inicio == final %}
                        <hr>
                        <div class="row justify-content-between ml-0 mr-2">
                            <h6 class="h6 mb-0 font-weight-bold text-uppercase text-left" style="margin-top: 8px;">Atendimentos: {{atendimentos_total}}</h6>
                            <h6 class="h6 mb-0 mt-2 font-weight-bold text-uppercase text-right">Total: R${{total}}</h6>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% for atendimento in atendimentos %}
        <div class="card" class="mb-4">
          <ul class="list-group list-group-flush">
             <li class="list-group-item font-weight-bold">
                 <div class="row">
                    <div class="col-md-8">{{atendimento.paciente}}</div>
                    <div class="col-md-4 text-md-right">{{atendimento.data_cadastro|date:"d/m/Y"}}</div>
                 </div>
             </li>
             {% for exame in atendimento.exame.all %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-8">{{ exame }}</div>
                        <div class="col-md-4 text-md-right">R$ {{ exame.planos.first.preco }}</div>
                    </div>
                </li>
             {% endfor %}
              <li class="list-group-item">
                  <div class="row">
                        <div class="col-md-8">Total</div>
                        <div class="col-md-4 text-md-right font-weight-bold">R$ {{ atendimento.calcular_total }}</div>
                    </div>
              </li>
          </ul>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}
