{% extends 'padrao/painel.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
Gen's | Novo Orçamento
{% endblock %}

{% block estilo %}
{{ block.super }}
<style>
    .form-control:focus {
        color: #000;
        background-color: #ffffff;
        border-color: #4cb061;
        outline: 0;
    }
    .blockquote-footer::before {
        content: "";
    }
    .info-paciente {
        margin-top: 10px;
    }
    .exame-card {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .btn-excluir {
        color: red;
        border: none;
        background: none;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block conteudo %}
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="h5 mb-0 font-weight-bold text-uppercase text-success">{{ paciente }}</h5>
                <hr>
                <div class="row">
                    <div id="formato-cpf" class="h6 mb-0 col-6 info-paciente"></div>
                    <div class="h6 mb-0 col-6 info-paciente">
                        USUARIO: {% if paciente.usuario %}{{ paciente.usuario }}{% else %}Não cadastrado{% endif %}
                    </div>
                    <div class="h6 mb-0 col-6 info-paciente">RG: {{ paciente.rg }}</div>
                    <div class="h6 mb-0 col-6 info-paciente">TELEFONE: {{ paciente.telefone }}</div>
                    <div class="h6 mb-0 col-6 info-paciente">DATA NASC: {{ paciente.data_nascimento }}</div>
                    <div class="h6 mb-0 col-6 info-paciente">SEXO: {{ paciente.sexo }}</div>
                </div>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                        <hr>
                        <div id="lista_exames_selecionados" class="mb-4"></div>
                        <div class="row">
                            <div class="form-group col-md-4 text-success font-weight-bold">
                                <label for="id_forma_pagamento">Forma de Pagamento:</label>
                                <select name="forma_pagamento" id="id_forma_pagamento" class="form-control">
                                    {% for pagamento in form.fields.forma_pagamento.choices %}
                                    <option value="{{ pagamento.0 }}">{{ pagamento.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-4 text-success font-weight-bold">
                                <label for="id_valor_total">Total:</label>
                                <input type="text" class="form-control" name="valor_total" id="id_valor_total" value="{{ form.initial.valor_total|floatformat:2 }}" readonly>
                            </div>
                            <div class="form-group col-md-4 text-success font-weight-bold">
                                <label for="id_pagamento">Pagamento:</label>
                                <select name="pagamento" id="id_pagamento" class="form-control">
                                    {% for pagamento in form.fields.pagamento.choices %}
                                    <option value="{{ pagamento.0 }}">{{ pagamento.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group text-success font-weight-bold">
                            <label for="id_comentario">Observação:</label>
                            <textarea name="comentario" id="id_comentario" rows="3" class="form-control">{{ form.initial.comentario }}</textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block" id="btn_finalizar" disabled>Finalizar</button>
                        </div>
                    </div>
                        <div class="col-md-6">
                        <h5 class="h5 mb-0 font-weight-bold text-uppercase text-success">Exames</h5>
                        <input type="text" id="busca_exames" class="form-control mb-3" placeholder="Buscar exames...">
                        <div id="lista_exames" class="row">
                            {% for exame in form.exames.field.queryset %}
                            <div class="col-md-12">
                                <div class="card exame-card">
                                    <div class="card-body">
                                        <p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="exames" id="exame_{{ exame.id }}" value="{{ exame.id }}" onchange="atualizarEstiloCard(this)">
                                                <label class="form-check-label" for="exame_{{ exame.id }}">{{ exame.nome }}</label>
                                            </div>
                                        </p>
                                        <footer>
                                            {% for plano in exame.planos.all %}
                                            <div class="form-check ml-1">
                                                <input class="form-check-input" type="radio" name="exame_{{ exame.id }}_planos" id="exame_{{ exame.id }}_plano_{{ plano.id }}" value="{{ plano.id }}" data-preco="{{ plano.preco|floatformat:2 }}" onchange="atualizarListaExamesSelecionados()" disabled>
                                                <label class="form-check-label" for="exame_{{ exame.id }}_plano_{{ plano.id }}">R$ {{ plano.preco|floatformat:2 }} - {{ plano.plano }}</label>
                                                <input type="hidden" name="planos_selecionados" id="id_planos_selecionados" value="">

                                            </div>
                                            {% endfor %}
                                        </footer>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
document.getElementById('busca_exames').addEventListener('input', function() {
    const busca = this.value.toLowerCase(); // Obtém o texto da busca em minúsculas
    const listaExames = document.getElementById('lista_exames'); // Obtém a lista de exames
    const exames = listaExames.getElementsByClassName('exame-card'); // Obtém todos os cards de exames

    // Itera sobre todos os exames e oculta os que não correspondem à busca
    for (let i = 0; i < exames.length; i++) {
        const nomeExame = exames[i].querySelector('.form-check-label').innerText.toLowerCase(); // Obtém o nome do exame
        if (nomeExame.includes(busca)) {
            exames[i].style.display = ''; // Mostra o exame se corresponder à busca
        } else {
            exames[i].style.display = 'none'; // Oculta o exame se não corresponder
        }
    }
});


    function atualizarListaExamesSelecionados() {
        var lista = document.getElementById('lista_exames_selecionados');
        lista.innerHTML = ''; // Limpa a lista
        var total = 0; // Inicializa o total
        var planosSelecionados = []; // Array para armazenar os planos selecionados
        var checkboxes = document.querySelectorAll('input[name^="exames"]:checked');

        checkboxes.forEach(function(checkbox) {
            var exameId = checkbox.value;
            var planoSelecionadoExame = document.querySelector('input[name="exame_' + exameId + '_planos"]:checked');
            if (planoSelecionadoExame) {
                var precoStr = planoSelecionadoExame.getAttribute('data-preco').replace(',', '.');
                var preco = parseFloat(precoStr);
                var nomeExame = document.querySelector('label[for="exame_' + exameId + '"]').innerText;
                lista.innerHTML += `
                    <div class="d-flex justify-content-between align-items-center">
                        <div>${nomeExame}: R$ ${preco.toFixed(2)}</div>
                        <button class="btn-excluir" onclick="removerExame('${exameId}')">
                            <i class="bi bi-x-circle-fill"></i>
                        </button>
                    </div>`;
                total += preco; // Atualiza o total
                planosSelecionados.push(planoSelecionadoExame.value); // Adiciona o plano selecionado
        }
    });

    // Atualiza o valor do campo oculto com os IDs dos planos selecionados
    document.getElementById('id_planos_selecionados').value = planosSelecionados.join(',');

    document.getElementById('id_valor_total').value = total.toFixed(2); // Atualiza o valor total
    document.getElementById('btn_finalizar').disabled = planosSelecionados.length === 0; // Habilita ou desabilita o botão "Finalizar"
}


    function removerExame(exameId) {
        var checkbox = document.getElementById('exame_' + exameId);
        checkbox.checked = false; // Desmarcar o checkbox
        atualizarEstiloCard(checkbox); // Atualizar o estilo do card
        atualizarListaExamesSelecionados(); // Atualizar a lista
    }

    function atualizarEstiloCard(checkbox) {
        var card = checkbox.closest('.exame-card');
        var titulo = card.querySelector('.form-check-label');
        if (checkbox.checked) {
            card.style.border = '2px solid #4cb061';
            titulo.style.color = '#4cb061';
            ativarPlanos(checkbox);
        } else {
            card.style.border = '2px solid transparent';
            titulo.style.color = '';
            desativarPlanos(checkbox);
        }
        atualizarListaExamesSelecionados(); // Atualiza a lista de exames selecionados
    }

    function ativarPlanos(checkbox) {
        var checkboxes = checkbox.closest('.exame-card').querySelectorAll('.form-check-input[type="radio"]');
        checkboxes.forEach(function(cb) {
            cb.disabled = !checkbox.checked;
            cb.checked = false; // Desmarcar todos planos ao ativar checkbox
        });
    }

    function desativarPlanos(checkbox) {
        var checkboxes = checkbox.closest('.exame-card').querySelectorAll('.form-check-input[type="radio"]');
        checkboxes.forEach(function(cb) {
            cb.disabled = true;
        });
    }



</script>
{% endblock %}
