{% extends 'padrao/painel.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}
Gen's | Visualizar Atendimento
{% endblock %}
{% block estilo %}
{{ block.super }}
<style>
    .form-control:focus {
        color: #000;
        background-color: #ffffff;
        border-color: #4cb061;
        outline: 0
    }

.blockquote-footer::before {
    content: ""
}

.info-paciente{
    margin-top: 10px;
}

</style>
{% endblock %}
{% block trilha %}
{% endblock %}
{% block conteudo %}
<div class="row">
    <div class="col col-md-12">
        <div id="precos-selecionados"></div>
        <div class="card mb-4">
            <div class="card-header" style="margin-bottom: -20px;">
                <div class="row justify-content-between ml-1 mr-2">
                <h5 class="h4 mb-0 font-weight-bold text-uppercase text-success text-center" style="margin-top: 8px;">Relatório de Atendimento</h5>
                    {% if exame_realizado %}
                                        <!-- Button trigger modal -->
                    <a href="#" class="h4 text-success text-right mt-2 mb-0" data-toggle="modal" data-target="#staticBackdrop">
                      <i class="bi bi-check2-all"></i>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-center text-danger" id="staticBackdropLabel">Relatório não pode ser alterado</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            O relatório não pode ser alterado devido algum exame ja ter
                              sido realizado no laboratório.
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Fechar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% else %}
                    <a href="{% url 'atendimento:orcamento_update' pk=orcamento.pk %}" class="h4 text-success text-right mt-2 mb-0">
                    <i class="bi bi-pencil-square"></i>
                </a>
                    {% endif %}
                </div>
                <hr>
                <div class="row justify-content-between ml-1 mr-2">
                    <h6 class="h6 mb-0 font-weight-bold text-uppercase text-success text-left" style="margin-top: 8px;">{{orcamento.paciente}}</h6>
                    <h6 class="h6 mb-0 mt-2 font-weight-bold text-uppercase text-success text-right">{{orcamento.data_cadastro|date:"d/m/Y"}}</h6>
                </div>
                <hr>
                <div class="row">
                    <div id="formato-cpf" class="h6 mb-0 col-6 col-md-6 info-paciente" ></div>
                    <div class="h6 mb-0 col-6 col-md-6 info-paciente">USUARIO:  {{orcamento.paciente.usuario}}</div>
                    <div class="h6 mb-0 col-6 col-md-6 info-paciente">RG: {{orcamento.paciente.rg}}</div>
                    <div class="h6 mb-0 col-6 col-md-6 info-paciente">TELEFONE: {{orcamento.paciente.telefone}}</div>
                    <div class="h6 mb-0 col-6 col-md-6 info-paciente">DATA NASC: {{orcamento.paciente.data_nascimento}}</div>
                    <div class="h6 mb-0 col-6 col-md-6 info-paciente">SEXO: {{orcamento.paciente.sexo}}</div>
                </div>
            </div>
            <div class="card-body">
                <hr>
                <div class="row">
                    {% for exame in orcamento.exame.all %}
                    <div class="col-md-4 ">
                        <div class="card exame-card" style="margin-bottom:10px; margin-top: 10px;">
                            <div class="card-body" style="margin-top:-15px;">
                                <p>
                                <div class="text-success text-uppercase font-weight-bold">
                                    <i class="bi bi-check2-circle"></i> {{ exame.nome }}
                                </div>
                                </p>
                                <footer>
                                    {% for plano in exame.planos.all %}
                                    <div class="text-succes">
                                        <i class="bi bi-check2"></i> R$ {{plano.preco}}
                                    </div>
                                    {% endfor %}
                                </footer>

                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>VAZIO...</p>
                    {% endfor %}
                </div>
                <hr>
                <div class="row">
                        <div class="form-group col-md-4 text-success font-weight-bold">
                            <label>Forma de Pagamento:</label> <br>
                            <span class="font-italic text-secondary font-weight-normal">{{orcamento.forma_pagamento}}</span>
                        </div>
                        <div class="form-group col-md-4 text-success font-weight-bold">
                            <label>Total:</label><br>
                            <span class="font-italic text-secondary font-weight-normal">R$ {{orcamento.valor_total}}</span>
                        </div>
                        <div class="form-group col-md-4 text-success font-weight-bold">
                            <label>Pagamento:</label><br>
                            <span class="font-italic text-secondary font-weight-normal">{{orcamento.pagamento}}</span>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function formatarCPF(cpf) {
    cpf = cpf.replace(/[.-]/g, '');
    return cpf.slice(0, 3) + '.' + cpf.slice(3, 6) + '.' + cpf.slice(6, 9) + '-' + cpf.slice(9);
}
var cpf = "{{orcamento.paciente.cpf}}";
var cpfFormatado = formatarCPF(cpf);

document.getElementById("formato-cpf").innerText = "CPF: " + cpfFormatado;
</script>
{% endblock %}
