{% extends 'padrao/painel.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}
Gen's | Atualizar Exame
{% endblock %}
{% block estilo %}
{{block.super}}
<style>
    .form-control:focus {
    color: #000;
    background-color: #ffffff;
    border-color: #4cb061;
    outline: 0
}
</style>
{% endblock %}
{% block trilha %}
<h4 class="h4 mb-0 text-success font-weight-bold text-uppercase">ATUALIZAR Plano ({{exame}})</h4>
{% endblock %}
{% block conteudo %}
<div class="row">
    <div class="col col-mb-12">
        <div class="card mb-4">
            <div class="card-header" style="margin-bottom: -20px;">
                <div class="row justify-content-between ml-1 mr-2">
                    <h5 class="h5 mb-0 font-weight-bold text-uppercase text-success text-left" style="margin-top: 8px;">{{orcamento.paciente}}</h5>
                    <h5 class="h5 mb-0 mt-2 font-weight-bold text-uppercase text-success text-right">{{orcamento.data_cadastro|date:"d/m/Y"}}</h5>
                </div>
                <hr>
                <div class="row">
                      <div id="formato-cpf" class="h6 mt-1 col-6 col-md-6 info-paciente" ></div>
                      <div class="h6 mt-1 col-6 col-md-6 info-paciente">USUARIO:  {{orcamento.paciente.usuario}}</div>
                      <div class="h6 mt-1 col-6 col-md-6 info-paciente">RG: {{orcamento.paciente.rg}}</div>
                      <div class="h6 mt-1 col-6 col-md-6 info-paciente">TELEFONE: {{orcamento.paciente.telefone}}</div>
                      <div class="h6 mt-1 col-6 col-md-6 info-paciente">DATA NASC: {{orcamento.paciente.data_nascimento}}</div>
                      <div class="h6 mt-1 col-6 col-md-6 info-paciente">SEXO: {{orcamento.paciente.sexo}}</div>
                </div>
            </div>
            <div class="card-body">
                <hr>
                <form id="form-atualizar" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="text-success text-uppercase font-weight-bold">{{exame}}</label>
                        {% for plano in exame.planos.all %}
                        <div class="form-check ml-1">
                            <input class="form-check-input plano-radio" type="radio" name="plano_selecionado" id="plano_{{ plano.id }}" value="{{ plano.id }}" data-preco="{{ plano.preco }}">
                            <label class="form-check-label" for="plano_{{ plano.id }}">
                                R$ {{ plano.preco }} - {{ plano.plano }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="form-group">
                        <button id="btn-atualizar" type="submit" class="btn btn-success btn-block" disabled>Atualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function formatarCPF(cpf) {
        cpf = cpf.replace(/[.-]/g, '');
        return cpf.slice(0, 3) + '.' + cpf.slice(3, 6) + '.' + cpf.slice(6, 9) + '-' + cpf.slice(9);
    }

    var cpf = "{{orcamento.paciente.cpf}}";
    var cpfFormatado = formatarCPF(cpf);
    document.getElementById("formato-cpf").innerText = "CPF: " + cpfFormatado;

    // Adicionando evento de change para cada radio de plano
    var radios = document.querySelectorAll('.plano-radio');
    radios.forEach(function(radio) {
        radio.addEventListener('change', function() {
            document.getElementById('btn-atualizar').disabled = false; // Habilitar o botão ao selecionar um plano
        });
    });
</script>
{% endblock %}
