{% extends 'padrao/painel.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}
Gen's | Referência Atualizar
{% endblock %}
{% block estilo %}
{{block.super}}
<style>
    .form-control:focus {
    color: #000;
    background-color: #ffffff;
    border-color: #4cb061;
    outline: 0
}
</style>
{% endblock %}
{% block trilha %}
<h4 class="h4 mb-0 text-success font-weight-bold text-uppercase">{{exame}}</h4>
{% endblock %}
{% block conteudo %}
<div class="row mb-3">
    <div class="col-xl-8 col-lg-7 mb-4">
        <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-success text-uppercase">
                    ATUALIZAR REFERÊNCIA
                </h6>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <br><hr>
                    <button type="submit" class="btn btn-success btn-block">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-5 ">
        <div class="card">
            <div class="card-header py-4 bg-success d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-white">FATORES</h6>
            </div>
            <div>
                {% for fator in referencia.fatores.all %}
                <div class="customer-message align-items-center d-flex justify-content-between">
                    <a class="font-weight-bold" href="#">
                        <div class="text-success message-title">
                            {% if fator.nome_fator == None %}
                            {{fator.idade}}
                            {% else %}
                            {{fator.nome_fator}}
                            {% endif %}
                        </div>
                        <div class="small text-gray-500 message-time font-weight-bold">
                            {{fator.limite_inferior}} a {{fator.limite_superior}}
                        </div>
                    </a>
                    <div class="small text-gray-500 message-time font-weight-bold ml-auto"style="margin-right:30px;">
                        <a href="{% url 'exame:fator_up' pk=fator.pk %}" class="text-success"><i class="bi bi-pencil-square"></i></a>
                        <a href="#" class="text-danger" type="button" data-toggle="modal" data-target="#exampleModalCenter{{fator.id}}"
                           id="#modalCenter{{fator.id}}"><i class="bi bi-trash"></i></a>
                    </div>
                    <div class="modal fade" id="exampleModalCenter{{fator.id}}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-danger">
                                    <h5 class="modal-title text-white" id="exampleModalCenterTitle">
                                        {% if fator.nome_fator == None %}
                                            {{fator.idade}}
                                        {% else %}
                                            {{fator.nome_fator}}
                                        {% endif %}
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Deseja realmente deletar <strong class="text-danger">
                                    {% if fator.nome_fator == None %}
                                        {{fator.idade}}
                                    {% else %}
                                        {{fator.nome_fator}}
                                    {% endif %}
                                </strong> ?<br>
                                    <span class="small">Todos os valores a respeito de
                                        <strong>
                                            {% if fator.nome_fator == None %}
                                                {{fator.idade}}
                                            {% else %}
                                                {{fator.nome_fator}}
                                            {% endif %}
                                        </strong> serão excluídos!</span>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="{% url 'exame:fator_del' pk=fator.pk %}">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Sair</button>
                                        <button type="submit" class="btn btn-outline-danger">Confirmar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% empty %}
                <div class="customer-message align-items-center">
                    <a class="font-weight-bold" href="#">
                        <div class="text-success message-title">Adicione Fatores</div>
                        <div class="small text-gray-500 message-time font-weight-bold"></div>
                    </a>
                </div>
                {% endfor %}
                <div class="card-footer text-center">
                    <a class="m-0 small text-success card-link font-weight-bold" href="{% url 'exame:fator_add' pk=referencia.pk%}">Novo Fator <i
                            class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="card">
            <div class="card-header py-4 bg-success d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-white">VALOR ESPERADO</h6>
            </div>
            <div>
                {% for padrao in referencia.padrao.all %}
                <div class="customer-message align-items-center d-flex justify-content-between">
                    <a class="font-weight-bold" href="#">
                        <div class="text-success message-title">
                            {{referencia.nome_referencia}}
                        </div>
                        <div class="small text-gray-500 message-time font-weight-bold">
                            {{padrao.tipo_valor}}: {{padrao.valor_esperado}}
                        </div>
                    </a>
                    <div class="small text-gray-500 message-time font-weight-bold ml-auto"style="margin-right:30px;">
                        <a href="{% url 'exame:valor_up' pk=padrao.pk %}" class="text-success"><i class="bi bi-pencil-square"></i></a>
                        <a href="#" class="text-danger" type="button" data-toggle="modal" data-target="#exampleModalCenter{{padrao.id}}Valor"
                           id="#modalCenter{{padrao.id}}Valor"><i class="bi bi-trash"></i></a>
                    </div>
                    <div class="modal fade" id="exampleModalCenter{{padrao.id}}Valor" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle{{padrao.id}}Valor" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-danger">
                                    <h5 class="modal-title text-white" id="exampleModalCenterTitle{{padrao.id}}Valor">
                                        {{referencia.nome_referencia}} - {{padrao.tipo_valor}}
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Deseja realmente deletar <strong class="text-danger">
                                        {{padrao.tipo_valor}}: {{padrao.valor_esperado}}
                                </strong> ?<br>
                                    <span class="small">Todos os valores a respeito de
                                        <strong>{{padrao.tipo_valor}}</strong> serão excluídos!</span>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="{% url 'exame:valor_del' pk=padrao.pk %}">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Sair</button>
                                        <button type="submit" class="btn btn-outline-danger">Confirmar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% empty %}
                <div class="customer-message align-items-center">
                    <a class="font-weight-bold" href="#">
                        <div class="text-success message-title">Adicione um Valor</div>
                        <div class="small text-gray-500 message-time font-weight-bold"></div>
                    </a>
                </div>
                {% endfor %}
                <div class="card-footer text-center">
                    <a class="m-0 small text-success card-link font-weight-bold" href="{% url 'exame:padrao_add' pk=referencia.pk %}">Novo Valor <i
                            class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
